.gradle/
build/
out/
.idea/
*.iml
.vscode/
.DS_Store
Thumbs.db

logs/*
!logs/.gitkeep

uploads/*
!uploads/.gitkeep
03-springboot-ecommerce/eCommerce-springboot/src/main/resources/application.properties
03-springboot-ecommerce/eCommerce-springboot/src/main/resources/application-local.properties
03-springboot-ecommerce/eCommerce-springboot/src/main/resources/application-secret.properties
